{% extends "base.html" %}
{% load static %}

{% block title %}All Events{% endblock %}

{% block style %}
<style>
    .table-container{
        white-space: nowrap;
    }
    table {
        max-width: 500px;
        border-collapse: collapse;
        margin-bottom: 20px;
        display: inline-block;
        white-space: normal;
    }

    tr, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    .center{
        text-align: center;
    }
    td:first-child {
        width: 50px;
    }

</style>
{% csrf_token %}
{% endblock style %}


{% block eventblock %}
<tr>
    <td>{{ event.receiver }}</td>
</tr>
{% endblock eventblock %}


{% block content %}
<div class="limiterbase">
    <div class="container-base100">
        <div class="wrap-base100"  style="margin-left:65px;">
            <h1 class="center">All Events</h1>
            {% for event in events %}
                {% if is_emp_or_hr %}
                    {% if event.receiver == "ALL" or event.receiver == id %}
                        <div class="table-container">
                            <table>
                                <tr>
                                    <td>Title</td>
                                    <td>{{ event.title }}</td>
                                </tr>
                                <tr>
                                    <td>Sender</td>
                                    <td>{{ event.From }}</td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td>{{ event.description }}</td>
                                </tr>
                                <tr>
                                    <td>Start</td>
                                    <td>{{ event.start_time }}</td>
                                </tr>
                                <tr>
                                    <td>End</td>
                                    <td>{{ event.end_time }}</td>
                                </tr>
                            </table>
                        </div>
                    {% endif %}
                {% elif is_temp_or_manager %}
                    {% if event.receiver != "Admin" %}
                        <div class="table-container">
                            <table>
                                <tr>
                                    <td>Title</td>
                                    <td>{{ event.title }}</td>
                                </tr>
                                <tr>
                                    <td>Sender</td>
                                    <td>{{ event.From }}</td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td>{{ event.description }}</td>
                                </tr>
                                <tr>
                                    <td>Start</td>
                                    <td>{{ event.start_time }}</td>
                                </tr>
                                <tr>
                                    <td>End</td>
                                    <td>{{ event.end_time }}</td>
                                </tr>
                                {% if is_temp_or_manager or id == "Admin" %}
                                <tr>
                                    <td>Edit</td>
                                    <td>Delete</td>
                                </tr>
                                {% endif %}
                            </table>
                        </div>
                    {% endif %}
                {% elif my_role == "Admin" %}
                    <div class="table-container">
                        <table>
                            <tr>
                                <td>Title</td>
                                <td>{{ event.title }}</td>
                            </tr>
                            <tr>
                                <td>Sender</td>
                                <td>{{ event.From }}</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>{{ event.description }}</td>
                            </tr>
                            <tr>
                                <td>Start</td>
                                <td>{{ event.start_time }}</td>
                            </tr>
                            <tr>
                                <td>End</td>
                                <td>{{ event.end_time }}</td>
                            </tr>
                            <tr>
                                <td>Edit</td>
                                <td>Delete</td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}





{% block script %}
<script>
</script>
{% endblock script %}