{% extends "base.html" %}
{% load static %}

{% block title %}All User Table{% endblock %}

{% block style %}
<style>
    table, tr, td {
        border: 1px solid #ddd;
        padding:5px;
    }
    table{
        margin-left: auto;
        margin-right: auto;
    }
    tr:nth-child(even) {
        background-color: rgb(0,0,0,0.2);
    }
</style>
{% csrf_token %}
{% endblock style %}
{% block content %}
<div class="limiterbase">
    <div class="container-base100">
        <div class="wrap-base100"  style="margin-left:65px;">
            <h1></h1>
            <table>
                {% for user in users %}
                    <tr> <!-- user details-->
                        <td> {{ user }} </td>
                        <td> {{ user.first_name }} </td>
                        <td> {{ user.last_name }} </td>
                        <td> {{ user.email }} </td>
                        <td> {{ user.userprofile.role }} </td>
                        {% if request.user.userprofile.role == 'Manager' or request.user.userprofile.role == 'Temp Manager' or request.user.userprofile.role == 'Admin'%}
                            {% if user.userprofile.role == 'Admin' or user.userprofile.role == request.user.userprofile.role  %}
                            <td> ----------- </td>
                            {% else %}
                            <td style="background: rgb(0,0,255,0.2);">
                                <form method="post" action="{% url 'update_user_role' user.id %}">
                                    {% csrf_token %}
                                    <select name="new_role">
                                        <option value="Employee">Employee</option>
                                        <option value="Manager">Manager</option>
                                        <option value="Human Resource Officer">Human Resource Officer</option>
                                        <option value="Temp Manager">Temp Manager</option>
                                        <option value="Admin">Admin</option>
                                    </select>
                                    <button type="submit">Update Role</button>
                                </form>
                            </td>
                            {% endif %}
                        {% endif %}
                        {% if request.user.userprofile.role == 'Admin' or request.user.userprofile.role == 'Human Resource Officer' %}
                            {% if user != request.user %}
                            <td style="background: rgb(255,0,0,0.4);"><button onclick="terminateUser('{{ user.id }}')"> Terminate </button></td>
                            {% endif %}
                            {% if user == request.user %}
                            <td> ---------- </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <br>
            <Table><tr><td><button> Print PDF </button></td></tr></Table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function terminateUser(userId) {
        if (confirm('Are you sure you want to terminate this user?')) {
            const csrftoken = getCookie('csrftoken');
            fetch(`/terminate_user/${userId}/`, {
                method: 'DELETE',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,  
                },
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                document.getElementById(`userRow_${userId}`).remove();
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock script %}