{% extends "base.html" %}
{% load static %}

{% block title %}Feedback Form{% endblock %}

{% block style %}
<style>
    table{
        margin-left: auto;
        margin-right: auto;
    }
    tr:nth-child(even) {
        background-color: rgb(0,0,0,0.2);
        padding: 10px;
    }
</style>
{% csrf_token %}
{% endblock style %}
{% block content %}
<div class="limiterbase">
    <div class="container-base100">
        <div class="wrap-base100"  style="margin-left:65px;">
            <form action="{% url 'requestsform' %}" class="login100-form"  method="POST" >
            {% csrf_token %}	
                <span class="login100-form-title p-b-26">
                    <img src="{% static 'images/icons/Walmart_logo.png' %}" alt="Walmart Logo" width="300px">
                    <p class="p-b-35">Employee Self-Service System</p>
                
                {% if form.errors %}
                <div class="alert alert-warning d-flex align-items-center" role="alert" style="font-size:15px;">
                    Failed to submit 
                </div>
                {% endif %}
                </span>
                
                <table style="font-size: 15px;">
                {{ form.as_table }}
                
                </table>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn" style="max-width: 500px;">
                        <div class="login100-form-bgbtn" ></div>
                        <button class="login100-form-btn" type="submit" value="Submit" >
                            <p style="color:#f2f2f2;">Submit Feedback</p>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock script %}