{% extends "base.html" %}
{% load static %}

{% block title %}Walmart Portal Profile{% endblock %}

{% block content %}
<div class="limiterbase">
    <div class="container-base100">
        <div class="wrap-base100"  style="margin-left:65px;">
            <h1>Hello, {{request.user.first_name}} {{request.user.last_name}}</h1>
            <h3>Your Role is: {{request.user.userprofile.role}}</h1>

            <ul>
                <li><a>Change Name</a></li>
                <li><a>Change Password</a></li>
                <li><a>Change Email</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}