{% extends "base.html" %}
{% load static %}

{% block title %}All User Table{% endblock %}

{% block style %}
<style>
    .wrap-base100 {
        width: 95%;
        min-width: 350px;
        min-height: 95vh;
        height: 100%;  
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        padding: 77px 55px 33px 55px;
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    }
    table, tr, td {
        border: 1px solid #ddd;
        padding:5px;
    }
    table{
        margin-left: auto;
        margin-right: auto;
    }
    tr:nth-child(even) {
        background-color: rgb(0,0,0,0.2);
    }
</style>
{% csrf_token %}
{% endblock style %}
{% block content %}
<div class="limiterbase">
    <div class="container-base100">
        <div class="wrap-base100"  style="margin-left:65px;">
            {% if user.userprofile.role != 'Employee' %}
                <h1>Open Requests</h1>
                <table>
                    <tr>
                        <td>From</td>
                        <td>Topic</td>
                        <td>Content</td>
                        <td>-------</td>
                    </tr>
                    {% for req in reqs %}
                        {% if user.userprofile.role == 'Admin' %}
                            <tr>
                                <td>{{ req.From }}</td>
                                <td>{{ req.topic }}</td>
                                <td>{{ req.content }}</td>
                                <td class="delete"><button onclick="terminateRequest('{{ req.id }}')"> Delete </button></td>
                            </tr>
                        {% endif %}
                        {% if user.userprofile.role == 'Human Resource Officer' %}
                            {% if req.sendto == "Human Resources" %}
                            
                                <tr>
                                    <td>{{ req.From }}</td>
                                    <td>{{ req.topic }}</td>
                                    <td>{{ req.content }}</td>
                                    <td class="delete"><button onclick="terminateRequest('{{ req.id }}')"> Delete </button></td>
                                </tr>
                            {% endif %}
                        {% elif user.userprofile.role == 'Manager' %}
                            {% if req.sendto == "Manager" %}
                                <tr>
                                    <td>{{ req.From }}</td>
                                    <td>{{ req.topic }}</td>
                                    <td>{{ req.content }}</td>
                                    <td class="delete"><button onclick="terminateRequest('{{ req.id }}')"> Delete </button></td>
                                </tr>
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                </table>
            {% else %}
                <h1>This page is not for your eyes!</h1>
                <h2>Return to the dashboard</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function terminateRequest(requestID) {
        if (confirm('Are you sure you want to delete this Request?')) {
            const csrftoken = getCookie('csrftoken');
            fetch(`/terminate_request/${requestID}/`, {
                method: 'DELETE',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,  
                },
            })
            // Termination confirmation
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                document.getElementById(`requestRow_${requestID}`).remove();
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock script %}