/*//////////////////////////////////////////////////////////////////
[ nav ]*/
@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.navcontainer {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

 nav{
  width: 80px;
  height: 100vh;
  background: rgb(240, 250, 240);
  transition: 0.2s linear;
 }
nav:hover{
  width: 190px;
}
 
 .navbar{
  padding: 1rem;
  position: relative;
  height: 100vh;
 }
 .logo{
  display: flex;
  align-items: center;
  padding: 0.3rem;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);
 }

 .logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 2px;
 }
 .logo span{
  font-size: 18px;
  color: rgb(39, 39, 39);
  font-weight: bold;
  padding-left: 15px;
  text-transform: uppercase;
 }
 .menu_list{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);
  overflow: hidden;
 }

.menu_list a{
  display: flex;
  align-items: center;
  padding: 0.6rem;
  color: rgb(39, 39, 39);
  font-weight: 500;
  overflow: hidden;
}
.menu_list i{
  font-size: 1.2rem;
  color: rgb(104, 103, 103);
  margin: 0 1.8rem 0 0.3rem;
}
.menu_list span{
  color: gray;
  font-size: 12px;
  padding: 0.6rem 0.6rem 0 0.6rem;
}
.menu_list a:hover{
  background: rgb(238,237,237);
  border-radius: 10px;
}
