{% load static %}
<div class="navcontainer" style="position:absolute;" >
    <nav style="background: rgb(242,242,242, 0.9);">
        <div class="navbar">
            <div class="logo">
                <img src="{% static 'images/icons/walmart-yellow6.png' %}" alt="Walmart's small logo">
                <div class="menu_list">
                    <span style="font-weight: bold; color:black;font-size:15px;"><a href="{% url 'profile' %}">FNAME LNAME</a></span>
                    <span>#{{ id }}</span>
                </div>
            </div>
            <div class="menu_list">
                <span>Menu</span>
                <a href="{% url 'dashboard' %}"><i class="fa-brands fa-dashcube"></i> Dashboard</a>
                <a href="#"><i class="fa-solid fa-star"></i> Important</a>
                <a href="#"><i class="fa-solid fa-calendar-days"></i> Planned</a>
                <a href="#"><i class="fa-solid fa-list-check"></i> Tasks</a>
                <a href="#"><i class="fa-solid fa-spinner"></i> Progress</a>
            </div>
            <div class="menu_list">
                <span>Work</span>
                <a href="#"><i class="fa-solid fa-timeline"></i>OfficeWork</a>
                <a href="#"><i class="fa-solid fa-list-ol"></i>Important</a>
            </div>

            <div class="menu_list">
                <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
            </div>
        </div>
    </nav>
</div>