{% extends "base.html" %}
{% load static %}

{% block title %}Walmart Portal Profile{% endblock %}

{% block content %}
<div class="limiterbase">
    <div class="container-base100">
        <div class="wrap-base100"  style="margin-left:65px;">
            <h1>Hello, {{id}}</h1>
            <ul>
                <li><a>Change personal Info</a></li>
                <li><a>Change password</a></li>
                <li><a></a></li>
                <li><a></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}